Session 8

In [9]:
file = open('test.txt', 'w')
file.write('Hello its me')
file.close()

In [14]:
#while loops:
x = 0
while x < 10:
    print(x)
    x += 1
print("Done")

0
1
2
3
4
5
6
7
8
9
Done

In [21]:
#while loops:
x = 0
while x < 10:
    x += 1
    print(x)
    if x == 5:
        break
print("Done")

1
2
3
4
5
Done

In [24]:
#while loops:
x = 0
while x < 10:
    x += 1
    print(x)
    if x == 3:
        continue
    elif x == 7:
        continue
print("Done")

1
2
3
4
5
6
7
8
9
10
Done

In [26]:
counter = 0
while True:
    print(counter)
    counter += 1
    break

0

In [31]:
#QUizz
#str(input("Enter the transaction: "))
net_amount = 0
while True:
     s= str(input("Enter the transaction: "))
     if not s:
         break
     data = s.split(' ')
     operation = data[0]
     value = int(data[1])
     if operation == 'D':
         net_amount += value
     elif operation == 'W':
         net_amount -= value
     else:
         print("invalid operation")
         break
net_amount

300

In [33]:
lst = [1,2,3,4,5,6,7]
lst_1 = []
# we can do it in another way

#
for i in lst:
    lst_1.append(i*2)
lst_1

[2, 4, 6, 8, 10, 12, 14]

In [34]:
lst = [1,2,3,4,5,6,7]
lst_1 = [i*2 for i in lst ]
lst_1

[2, 4, 6, 8, 10, 12, 14]

In [35]:
s = "ola"
letters = [i for i in s]
letters

['o', 'l', 'a']

In [36]:
lst = [12,22,23,44,55,60,80]
lst_even = [i for i in lst if i % 2 == 0]
lst

[12, 22, 23, 44, 55, 60, 80]

In [37]:
lst = [12,22,23,44,55,60,80]
lst_nums = [ 'even' if(i % 2 == 0) else 'odd' for i in lst] 
lst_nums

['even', 'even', 'odd', 'even', 'odd', 'even', 'even']

In [41]:
# revers key and value
dict1 = {"ola":22,"ahmed":30,"manal":15}
dict_reversed = {}
#
dict2_rev = {val:key for key, value in dict1.items()}
#
for key, val in dict1.items():
    dict_reversed[val] = key 
dict_reversed

{22: 'ola', 30: 'ahmed', 15: 'manal'}

In [43]:
# revers key and value
dict1 = {"ola":22,"ahmed":30,"manal":15}
dict2_rev = {val:key for key, val in dict1.items()}
dict2_rev

{22: 'ola', 30: 'ahmed', 15: 'manal'}

In [55]:
lst = ['o','l','a']
lst(enumerate(lst))

TypeError: 'list' object is not callable